@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.left{

    width:329px;
    height:583px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right{
    
    width: 640px;
    height: 585px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
}

.card{

    width:  500px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px #00000015;
  
 
}

.card > h1{
    font-size: 20px;
    font-weight: 400px;
    color: #00a551;
    width: 155px;
    height: 23px;
}

.card > h2{
    font-size: 12px;
    font-weight: 300px;
    color: #474749;
}


.textfield{

    margin: 12px;
    width: 480px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textfield input{
  
    background-color: #f4f4f4;
    color: #7f7e83;
    width: 316px;
    height: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}

.textfield > label{

    width: 60%;
   font-size: 12px;
   font-weight: 500;
   color: #7f7e83
}

.btn-login{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #00a551;
    color: #ffffff;
}

.card p{
    color: #000000;
}

.card a{
    color: #00a551;
}